/* CSS Document */

BODY {MARGIN: 2px; BACKGROUND-COLOR: #ffffff}
TABLE {FONT-SIZE: 9pt; FONT-FAMILY: arial,verdana,sans-serif}
TR {FONT-SIZE: 9pt; FONT-FAMILY: arial,verdana,sans-serif}
TH {FONT-SIZE: 9pt; FONT-FAMILY: arial,verdana,sans-serif}
TD {FONT-SIZE: 9pt; FONT-FAMILY: arial,verdana,sans-serif}
DL {MARGIN-TOP: 0em; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0.5em; FONT-FAMILY: arial,verdana,sans-serif}
P {MARGIN-TOP: 0em; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0.5em; FONT-FAMILY: arial,verdana,sans-serif}
#sideslogan {FONT-WEIGHT:bold;FONT-SIZE:9pt;COLOR:#000000;FONT-FAMILY:verdana,sans-serif;TEXT-ALIGN:center}
#PagePreHeading {MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; MARGIN-BOTTOM: 2px; COLOR: #cccccc; FONT-FAMILY: verdana,sans-serif}
#PagePrePreHeading {MARGIN-TOP: 0px; WIDTH: 100%; top-border: 1 solid gray}
#PageHeading {MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; MARGIN-BOTTOM: 6px; COLOR: #996633; FONT-FAMILY: verdana,sans-serif}
#Copyright {FONT-SIZE: 8pt; COLOR: #000000}
.t {BACKGROUND: url(media/dot.gif) repeat-x 0px 0px; WIDTH: 100%}
.b {BACKGROUND: url(media/dot.gif) repeat-x 0px 100%}
.l {BACKGROUND: url(media/dot.gif) repeat-y 0px 0px}
.r {BACKGROUND: url(media/dot.gif) repeat-y 100% 0px}
.bl {BACKGROUND: url(media/bl.gif) no-repeat 0px 100%}
.br {BACKGROUND: url(media/br.gif) no-repeat 100% 100%}
.tl {BACKGROUND: url(media/tl.gif) no-repeat 0px 0px}
.tr {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(media/tr.gif) no-repeat 100% 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px}
.nav {BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: #ffffff}
.side {FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #ffffff}
.monospace {FONT-FAMILY: Courier,monospace}
.scroller {PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 0px; OVERFLOW: auto; WIDTH: auto; PADDING-TOP: 5px; POSITION: relative; HEIGHT: 400px}
.sideindent {FONT-SIZE: 9pt; MARGIN-LEFT: 10px; MARGIN-RIGHT: 2px; FONT-FAMILY: arial,verdana,sans-serif}
.sideindent P {MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.75em; COLOR: #000000}
.sideindent DIV.small {FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial,verdana,sans-serif}
.sidestripe {BORDER-TOP: black 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; BORDER-BOTTOM: black 2px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #6699cc}
.sidestripebody {BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #6699cc; WEIGHT: bold}
.sidestriperight {BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #6699cc; WEIGHT: bold}
.sidestripebanner {BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #6699cc; WEIGHT: bold}
.panel {BORDER-TOP: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #cccccc}
.bulllist P {MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.5em}
.contentstripe {FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #cccccc}
.rsideindent {FONT-SIZE: 9pt; MARGIN-LEFT: 4px; MARGIN-RIGHT: 2px; FONT-FAMILY: arial,verdana,sans-serif}
.rsideindent P {FONT-SIZE: 9pt; COLOR: #666666}
.ThemeSelect {MARGIN-TOP: 0em; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0.5em; COLOR: #000000; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #eeeeee}
.spacer {HEIGHT: 10px}
A.onNav {FONT-WEIGHT: bold; COLOR: #6699cc; TEXT-DECORATION: none}
A.onNav:visited {FONT-WEIGHT: bold; COLOR: #6699cc; TEXT-DECORATION: none}
A.onNav:active {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.onNav:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.onNavHiLight:active {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.onNavHiLight:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.onNavHiLight:visited {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.onNavHiLight {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: none}
A.course {FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: underline}
A.course:visited {FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: underline}
A.course:active {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A.course:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A.onSide {FONT-WEIGHT: bold; COLOR: #336699; TEXT-DECORATION: underline}
A.onSide:visited {FONT-WEIGHT: bold; COLOR: #6699cc; TEXT-DECORATION: underline}
A.onSide:active {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A.onSide:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A.onSideFoot {FONT-WEIGHT: bold; COLOR: #ffffff}
A.onSideFoot:visited {FONT-WEIGHT: bold; COLOR: #ffffff}
A.onSideFoot:active {FONT-WEIGHT: bold; COLOR: #ff6633}
A.onSideFoot:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A.StripeOnSide {FONT-WEIGHT: bold; COLOR: #336699}
A.StripeOnSide:visited {FONT-WEIGHT: bold; COLOR: #6699cc}
A.StripeOnSide:active {FONT-WEIGHT: bold; COLOR: #ff6633}
A.StripeOnSide:hover {FONT-WEIGHT: bold; COLOR: #ff6633; TEXT-DECORATION: underline}
A {FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: none}
A:visited {FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: none}
A:active {FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: underline}
A:hover {FONT-WEIGHT: bold; COLOR: #003399; TEXT-DECORATION: underline}
A.topnav {COLOR: white}
A.topnav:visited {COLOR: white}
A.topnav:hover {WIDTH: 100%; COLOR: #ff6633; TEXT-DECORATION: none}